doctype html
meta(http-equiv='content-type' content='text/html;charset=UTF-8')
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='Author' content='WebThemez')
  title WeCode Pixel
  meta(name='description' content='Examples for creative website header animations using Canvas and JavaScript')
  meta(name='keywords' content='header, canvas, animated, creative, inspiration, javascript')
  meta(name='author' content='Codrops')
  link(rel='shortcut icon' href='https://webthemez.com/demo/favicon.ico')
  link(rel='stylesheet' type='text/css' href='css/normalize.css')
  link(href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css')
  //if IE
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  link(rel='stylesheet' type='text/css' href='/stylesheets/styles.css')
  body#home
  block content
script(src='/javascripts/TweenLite.min.js')
script(src='/javascripts/EasePack.min.js')
script(src='/javascripts/rAF.js')
script(src='/javascripts/demo-1.js')
// Scripts
script(type='text/javascript' src='/javascripts/jquery-1.9.1.min.js')
//- script(type='text/javascript' src='/javascripts/Backstretch.html')
script(type='text/javascript' src='/javascripts/jquery.countdown.js')
script(type='text/javascript' src='/javascripts/global.js')
